.main
{
    /*width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.button
{
    width: 120px;
}

fieldset
{
    padding: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}

form
{
    width: 480px;
    margin: 60px 0;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 4px;
}